@import url(forms.css);
@import url(login.css);
@import url(main.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-footer: #757575;
    --color-language: #949494;
    --color-header: white;
}


body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-image: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--color-header);
}

body::before {
    content: '';
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;    
}

body::after {
    content: '';
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    position: fixed;    
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;  
}

#header {
    padding: 24px 30px;
    align-items: center;
    position: relative;
    z-index: 10;
}

.img-netflix img {
    position: relative;
    width: 15%;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
}

/* FOOTER */
footer { 
    background: rgba(0, 0, 0, .75);
    color: var(--color-footer);
    display: flex;
    font-family: Helvetica, sans-serif;
}

#box-footer {
    margin: 0px 46px;
    padding: 30px 0px;
}

.duvidas-ligue {
    position: relative;
    display: flex;   
}
.duvidas-ligue p {
    margin-right: 7px;
}

.duvidas-ligue a {
    color: var(--color-footer);
    font-family: Helvetica;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    padding: 0 60px 0 0;
    margin: 0 0 20px;
}

#language select {
    color: var(--color-language);
    background: none;
    border: none;
    font-weight: 600;
}

#language {
    border: 1px solid var(--color-language);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 150px;
    height: auto;
}